.sectors-container {
  width: -w;
}


.sectors-header h2 {
  display: inline-block;
  padding-right: 5px;
}

.sectors-header img {
  width: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.sectors-header img:hover {
  width: 24px;
}

.sectors-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sector-item {
  flex-basis: 50%;
}
.btn {
  width: 32px;
  height: 32px;
  padding: 6px;
  background-color: #eee;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ccc;
}

.btn img {
  width: 20px;
}